<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">




<test name="Login">
	<classes>
        <class name="testcases.ApplicationTest" ></class>  
    </classes>     
</test>


<test name="Login">
	<classes>
        <class name="testcases.LoginTest" ></class>  
    </classes>     
</test>

</suite>
